body {
    margin: 5% 10% 5% 10%;
    font: 14pt Calibri;
}

figure {
    display: inline;
    text-align: center;
    border: thin solid #ccc;
    padding: 10px;
}

figcaption {
    text-align: center;
}

